---
title: This is a blog post on probability theory and random variables.
date: '2023-11-03'
categories:
  - 'Probability Theory, Random Variables, Naive Bayes'
description: 'This is a blog post on probability theory. Specifically, the Naive Bayes classifier is used.'
execute:
  message: false
  warning: false
editor_options:
  chunk_output_type: console
---

In this blog post, we will investigate the Seaborn Attention dataset. Specifically, we will focus on using the Naive Bayes classifier to predict whether a test-taker is focused or not depending on their score.

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.get_dataset_names()
attention_raw = sns.load_dataset('attention')
attention_raw.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [2]:
attention_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     int64
 1   subject     60 non-null     int64
 2   attention   60 non-null     object
 3   solutions   60 non-null     int64
 4   score       60 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.5+ KB

Let's drop the Unnamed column, since it will not help with our analysis.

In [4]:
attention = attention_raw.drop("Unnamed: 0", axis=1)
attention.head()

   subject attention  solutions  score
0        1   divided          1    2.0
1        2   divided          1    3.0
2        3   divided          1    3.0
3        4   divided          1    5.0
4        5   divided          1    4.0

Let's explore the dataset and see if there are any missing/outlier values.

In [6]:
attention.isna().any().any()

False

In [11]:
attention.shape

(60, 4)

In [16]:
[attention['subject'].min(), attention['subject'].max()]

[1, 20]

In [17]:
[attention['solutions'].min(), attention['solutions'].max()]

[1, 3]

In [18]:
[attention['score'].min(), attention['score'].max()]

[2.0, 9.0]

It looks like there are 20 subjects total, who were given 3 different tests. From each of these tests, the score of the subjects was computed. The minimum score across all tests was 2.0, while the maximum score was 9.0. Presumably, the test was ranked on a scale of 1 to 10. 

TODO: Find better documentation on this dataset.